@import 'tailwindcss';

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/static/Inconsolata-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/static/Inconsolata-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/static/Inconsolata-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/static/Inconsolata-Regular.ttf') format('truetype');
}

@theme {
  --font-sans: 'Inconsolata', sans-serif;

  --color-neutral-0: #ffffff;
  --color-neutral-300: #d1d0d5;
  --color-neutral-500: #8784a5;
  --color-neutral-700: #4b4869;
  --color-neutral-900: #0d082d;
  --color-orange-500: #f57463;
  --color-orange-700: #e1604f;

  --text-preset-1: 60px;
  --text-preset-1--line-height: 110%;
  --text-preset-1--letter-spacing: -1px;
  --text-preset-1--font-weight: 800;

  --text-preset-4: 24px;
  --text-preset-4--line-height: 120%;
  --text-preset-4--letter-spacing: -0.5px;
  --text-preset-4--font-weight: 500;
}
